/......Ex 32 - C Program to Display Armstrong Number Between Two Intervals
/....Ex 36 - C Program to Check Prime or Armstrong Number Using User-defined Function
/...Ex 35 - C Program to Display Prime Numbers Between Intervals Using Function
/...Ex 49 - C Program to Multiply Two Matrices Using Multi-dimensional Arrays